<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <img style="position: absolute; left: 600px;" class="wave" src="images/bg3.svg">
    <div style="position: relative; right: 830px; width: 200vw;" class="container">
        <div class="img1">
            <img src="images/bg1.png">
        </div>
        <div class="login-content">
            <div style="margin-top: 40px;" class="header"><span> Code / Labs </span></div>
            <div style="color: whitesmoke; line-height:25px; font-size: 24px; font-weight: 300; padding-top: 30;" class="subheader"><span> Collaborative coding for <p>Teachers & Students</p>  </span></div>
            <img src="images/avatar.svg">
            <h2 class="title">Welcome</h2>
            <div class="btns">
                <a href="./create"><button class="btn">Create Room</button></a>
                <a href="./createClassroom"><button class="btn">Create Classroom</button></a>
                </div>
        </div>
    </div>

</body>

</html>